<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [244]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

# Mathemetical Operations

## Divisibility - Odd - Even

In [2]:
4 % 2

0

In [1]:
4 % 2 == 0  # even

True

In [3]:
4 % 3

1

In [4]:
4 % 3 == 0 # odd

False

## range

end point should be +1

In [9]:
range(3,6)

range(3, 6)

In [10]:
list(range(3,6))

[3, 4, 5]

## integer division & float division

In [11]:
8 // 6 # integer division

1

In [12]:
8 / 6 # float division

1.3333333333333333

## power operator

In [13]:
4 ** 3

64

In [14]:
4 ** -1

0.25

In [214]:
pow(2,3)

8

In [216]:
pow(2,4,2) # third arg is the mod

0

## hexadecimal

In [211]:
hex(12)

'0xc'

## binary

In [213]:
bin(2)

'0b10'

In [212]:
bin(123)

'0b1111011'

## round

In [217]:
round(3.9)

4

In [218]:
round(3.12356622,3)

3.124

## Mean - Average

### numpy

In [ ]:
np.mean(numbers_list)

### without numpy

In [ ]:
setOfNumbers = set([1,5,2,6,8])
randomVar = len(setOfNumbers) 
sumSet = sum(setOfNumbers)
mean = sumSet / randomVar

## Weighted Mean - Weighted Average

### numpy

In [252]:
import numpy as np
num_list = [1, 2, 3] 
num_weights = [0.2, 0.2, 0.2]
np.average(num_list, weights=num_weights)

2.0

In [253]:
num_list = [1, 2, 3] 
num_weights = [0.5, 0.6, 0.2]
np.average(num_list, weights=num_weights)

1.769230769230769

### without numpy

In [254]:
def mul(tup):
    return tup[0]*tup[1]

A=[10, 40, 30, 50, 20]
B=[1, 2, 3, 4, 5]
print(round( sum(map(mul,zip(A,B)))/sum(B),1))

32.0

## Median

### numpy

In [ ]:
np.median(numbers_list)

### without numpy

In [ ]:
def middle(L):
    L = sorted(L)
    n = len(L)
    m = n - 1
    return (L[n/2] + L[m/2]) / 2.0

## Mode

### scipy

In [249]:
from scipy import stats

a = [1,5,2,6,8,1,1]
m = stats.mode(a)
m

ModeResult(mode=array([1]), count=array([3]))

### without scipy

In [246]:
from collections import Counter 
  
# list of elements to calculate mode 
n_num = [1, 2, 3, 4, 5, 5] 
n = len(n_num) 
  
data = Counter(n_num) 
get_mode = dict(data) 
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    get_mode = "No mode found"
else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
      
print(get_mode)

Mode is / are: 5

# Basic Functions

## print()

In [5]:
for i in range(5):
    print(i+1)

1
2
3
4
5

### Without newline

In [11]:
for i in range(5):
    print(i+1, sep='', end='')

12345

## input - stdin

doesnt check the type of the input!

In [4]:
n = int(input())
print("n =", n)

for i in range(n):
    print(n)

3
n = 3
3
3
3

In [22]:
result = input("enter a number:")
result

enter a number:2344

'2344'

## and - or

In [24]:
7 == 7 and (4 / 2) == 2

True

In [27]:
7 == 7 or (4 / 56) == 2

True

# String Operations

In [17]:
cell_no = str(input())
first_char = cell_no[0]
print(first_char)

1231244342
1

## check if every character in a string is a number / numeric

In [29]:
def is_number(s):
    try:
        float(s)
        return True
    except ValueError:
        pass
 
    try:
        import unicodedata
        unicodedata.numeric(s)
        return True
    except (TypeError, ValueError):
        pass
 
    return False

In [30]:
is_number(123124435345)

True

In [32]:
is_number(12423A21312)

SyntaxError: invalid syntax (<ipython-input-32-b2b6604f0324>, line 1)

In [33]:
is_number("123124435345")

True

In [34]:
is_number("12AAAAA24435345")

False

## split a string at a character

In [37]:
string = "name <user@email.com>"
string.split(" ")

['name', '<user@email.com>']

## delete specific characters from string

In [46]:
import re
string = '<user@email.com>'
re.sub("\<|\>", "", string)

'user@email.com'

## check if a character is alphabetical

In [47]:
string = "dexter"
string.isalpha()

True

In [48]:
string = "!e"
string.isalpha()

False

In [49]:
string = "8e"
string.isalpha()

False

In [55]:
string = "virus!"
[char.isalpha() for char in string]

[True, True, True, True, True, False]

In [56]:
all([char.isalpha() for char in string])

False

## check if a character is contained in list

In [61]:
"a" in ["-",".","_"]

False

In [62]:
"a" in ["-",".","_","a"]

True

In [23]:
"a" in ["-",".","_","abcbbc"]

False

## capitalize

In [219]:
s = "hellow world"

In [220]:
s.capitalize()

'Hellow world'

## uppercase & lowercase

In [221]:
s.upper()

'HELLOW WORLD'

In [234]:
s.islower()

True

In [237]:
s.isupper()

False

In [222]:
s.lower()

'hellow world'

In [235]:
s.title()

'Hellow World'

In [236]:
s.istitle()

False

## ends with

In [238]:
s.endswith("d")

True

## alphanumeric

In [231]:
s.isalnum()

False

## alphabet

In [233]:
s.isalpha()

False

## counting letters

In [223]:
s.count("a")

0

In [225]:
s.count("e")

1

In [226]:
s.count("hel")

1

In [227]:
s.find("o")

4

## split string

In [239]:
s = "asdaefgeadae"
s.split("e")

['asda', 'fg', 'ada', '']

## partition

only splits using the first instance

In [241]:
s.partition('s')

('a', 's', 'daefgeadae')

# Hackerrank Problems

## Polynomial Regression - sklearn

In [ ]:
import numpy as np
from sklearn import linear_model
from sklearn.preprocessing import PolynomialFeatures

params = [int(s) for s in input().strip().split()]
num_features = params[0]
num_samples = params[1]
X = np.zeros((num_samples, num_features))
y = np.zeros(num_samples)
for i in range(num_samples):
    row = [float(s) for s in input().strip().split()]
    X[i, :] = row[:-1]
    y[i] = row[-1]

poly = PolynomialFeatures(3)
X = poly.fit_transform(X)

clf = linear_model.RidgeCV()
clf.fit(X, y)
num_test_samples = int(input())
X_test = np.zeros((num_test_samples, num_features))
for i in range(num_test_samples):
    X_test[i, :] = [float(s) for s in input().strip().split()]
X_test = poly.fit_transform(X_test)
print("\n".join(str(y) for y in clf.predict(X_test)))

## Polynomial Regression - numpy

In [ ]:
import sys
import itertools
import numpy as np

## Definition of h theta
def h_theta(Theta,x):
    value = 0.0
    for i,theta in enumerate(Theta):
        #value += Theta[i]*x_pow(x,po)
        value += theta*x[i]
    return value


def x_pow(x,power):
    val = 1.0
    for i,p in enumerate(power):
        val*=pow(x[i],p)
    return val

## Calculate the theta values
def calculate_theta_values(Theta,X,thres,alpha,pows):
    while True:  
        tmp_Theta = Theta - np.array([alpha*(1.0/len(X))*np.sum((X.dot(Theta)-Y.T)*X,axis=0)]).T
        if np.max(np.abs(Theta-tmp_Theta)) < thres:
            return tmp_Theta
        Theta = tmp_Theta

def generate_new_X(X,powers):
    new_X = []
    for x in X:
        tmp = []
        for pows in powers:
            tmp.append(x_pow(x,pows))
        new_X.append(tmp)
    return new_X

## Initlise variables
tmp = sys.stdin.readline()
vals = tmp.strip().split(' ')
f,m = int(vals[0]),int(vals[1])
X = []
Y = []
alpha = 0.1
thres = 0.001
Theta = [0.0]*(f+1)


## Populate the X and Y matrices
for i in range(0,m):
    x = []
    vals = sys.stdin.readline().strip().split(' ')
    Y.append(float(vals[-1]))
    for j,val in enumerate(vals[:-1]):
        x.append(float(val))
    X.append(x)

## Read in test cases
test_cases = []
t = int(sys.stdin.readline())
for i in range(0,t):
    tmp = []
    vals = sys.stdin.readline().strip().split(' ')
    for j,val in enumerate(vals):
        tmp.append(float(val))
    test_cases.append(tmp)

powers = [x for x in itertools.product([0,1,2,3],repeat=f) if sum(x) < 4]
X = np.array(generate_new_X(X,powers))
Theta = np.array([[0.0]]*len(powers))
Y = np.array([Y])
Theta = calculate_theta_values(Theta,X,thres,alpha,powers)
test_cases = np.array(generate_new_X(test_cases,powers))

ans = test_cases.dot(Theta)
for a in ans:
#     print a[0],  # python2
    print (a[0])   # python 3

## find the number of pairs in a list

* Matching socks problem -> Given an array of integers representing the color of each sock, determine how many pairs of socks with matching colors there are.
    * input = array
    * output = integer (number of matching pairs)

In [18]:
n = 7
ar = [1,2,1,2,1,3,2]

In [19]:
def sockMerchant(n, ar):
    key_list = list(set(ar))
    default_value = 0
    pair_dict = dict.fromkeys(key_list, default_value)
    for i in ar:
        pair_dict[i] = pair_dict[i] + 1
    
    pair_count = 0
    for key in list(pair_dict.keys()):
        pair_count = pair_count + pair_dict[key] // 2
    return pair_count  

sockMerchant(n, ar)

2

## Counting Valleys & Mountains

In [24]:
n = 10 # number of steps taken
s = "UDDDUDUU"   # U = up step, D = down step

In [26]:
def countingValleys(n, s):
    current_altitude = 0
    count_valley = 0
    
    for i in s:
        
#         print(current_altitude)
        if current_altitude == 0 and i == "D":
            count_valley = count_valley + 1
        if i == "D":
            current_altitude = current_altitude - 1
        if i == "U":
            current_altitude = current_altitude + 1
            
    return count_valley
    

countingValleys(n, s)

1

# Logical Operations

## check all true / false in a list

In [57]:
all([True, True, True, True, True, False])

False

## check any true / false in a list

In [59]:
any([True, True, True, True, True, False])

True

## and / or between two lists

In [81]:
string = "virus!"
a = [char.isalpha() for char in string] 
b = [char in ["-",".","_", "!"] for char in string]

In [82]:
a

[True, True, True, True, True, False]

In [83]:
b

[False, False, False, False, False, True]

In [84]:
ab = [a[i] or b[i] for i in range(len(a))]
ab

[True, True, True, True, True, True]

This doesnt work:

In [74]:
[True, True, True, False] or [False, False, False, True]

[True, True, True, False]

# Dictionary Operations

In [32]:
d = {'key1':'asdasd','key2':123,"key3":[12,3,4,1]}
d

{'key1': 'asdasd', 'key2': 123, 'key3': [12, 3, 4, 1]}

In [33]:
d.values()

dict_values(['asdasd', 123, [12, 3, 4, 1]])

In [34]:
d.items()

dict_items([('key1', 'asdasd'), ('key2', 123), ('key3', [12, 3, 4, 1])])

In [35]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

## get keys of a dictionary as a list

In [17]:
key_list = ["abc","def","ccc"]
default_value = [] 
d = dict.fromkeys(key_list, default_value)

list(d.keys())

['abc', 'def', 'ccc']

## create dictionary with predefined keys

In [8]:
key_list = ["abc","def","ccc"]
default_value = []  # can be integer, float, list, another dict etc
d = dict.fromkeys(key_list, default_value)
d

{'abc': [], 'ccc': [], 'def': []}

## check if a key is in a dictionary

In [10]:
d

{'abc': [], 'ccc': [], 'def': []}

In [9]:
'abc' in d

True

In [15]:
'abc' in d.keys()

True

## check if a value is in a dictionary

In [12]:
d["abc"] = "asdasd"
d

{'abc': 'asdasd', 'ccc': [], 'def': []}

In [14]:
d.values()

dict_values(['asdasd', [], []])

In [13]:
"asdasd" in d.values()

True

# Generators

## enumerate

makes the iterable object into a tuple of (index,iterable[index])

In [2]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [3]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [4]:
for index,item in enumerate(word):
    print("index = {}, item = {}".format(index,item))

index = 0, item = a
index = 1, item = b
index = 2, item = c
index = 3, item = d
index = 4, item = e

## zip

Can also handle more than 2 lists

In [5]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

Uneven lists -> only returns as many as the shortest list

In [6]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [7]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

## Generator functions

### yield

In [110]:
def create_cubes(n):
    
    for x in range(n):
        yield x**3

In [112]:
create_cubes(5)

In [111]:
for x in create_cubes(5):
    print(x)

0
1
8
27
64

In [113]:
def gen_fibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b, a+b

In [115]:
list(gen_fibon(5))

[1, 1, 2, 3, 5]

### next

In [116]:
def simple_gen():
    for x in range(3):
        yield x

In [117]:
g = simple_gen()
g

In [118]:
next(g)

0

In [120]:
next(g)

2

In [122]:
# shows that the sequence has ended
next(g)

StopIteration:

### iter

In [123]:
s = 'hello'

s_iter = iter(s)

In [124]:
next(s_iter)

'h'

In [125]:
next(s_iter)

'e'

# Random module

## shuffle

returns nothing, operates inplace

In [19]:
from random import shuffle

mylist = [1,2,3,4,5,6]
print(mylist)

shuffle(mylist)
print(mylist)

[1, 2, 3, 4, 5, 6]
[3, 2, 6, 5, 1, 4]

## random integer

In [20]:
from random import randint

randint(0,100)

21

# Lists

## List Comprehension

In [24]:
mystring = "asdasdadasd"

[letter for letter in mystring]

['a', 's', 'd', 'a', 's', 'd', 'a', 'd', 'a', 's', 'd']

In [25]:
[letter+letter for letter in mystring]

['aa', 'ss', 'dd', 'aa', 'ss', 'dd', 'aa', 'dd', 'aa', 'ss', 'dd']

In [26]:
[letter for letter in mystring if letter == "a"]

['a', 'a', 'a', 'a']

if else in list comprehension:

In [27]:
[letter if letter == "a" else "nope" for letter in mystring]

['a', 'nope', 'nope', 'a', 'nope', 'nope', 'a', 'nope', 'a', 'nope', 'nope']

Nested loop in list comprehension

In [30]:
list1 = [2,4,6]
list2 = [1,10,1000]
mylist = [x*y for x in list1 for y in list2]
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

# Functions

## *args

arguments

args is arbitrary -> you can also use other words

In [38]:
def myfunc(a,b):
    # pass in as tuple!!
    return sum((a,b))

print(myfunc(3,5))

8

In [44]:
def myfunc(*args):
    # all args is interpreted as a tuple
    print(args)
    return sum(args)

print(myfunc(3,5))
print("")
print(myfunc(3,5,6,7))

(3, 5)
8

(3, 5, 6, 7)
21

## **kargs

keyword arguments

builds a dictionary with key value pairs

In [47]:
def myfunc(**kwargs):
    # all args is interpreted as a tuple
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print("no fruit")

print(myfunc(fruit = "apple"))
print("")
print(myfunc(veggie = "lettuce", asd = "asdasdsa"))

my fruit of choice is apple
None

no fruit
None

## \*args and \**kargs

order has to be like above

In [50]:
def myfunc(*args,**kwargs):
    # all args is interpreted as a tuple
    if 'fruit' in kwargs:
        print(args[0])
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print(args[-1])
        print("no fruit")

print(myfunc(3,4,5,fruit = "apple"))
print("")
print(myfunc(1234,veggie = "lettuce", asd = "asdasdsa"))

3
my fruit of choice is apple
None

1234
no fruit
None

# Lambda Functions

In [61]:
square = lambda x : x**2

In [62]:
square(2)

4

## Map

In [51]:
def square(x):
    return x**2

In [52]:
my_nums = [1,2,3,5]

In [55]:
list(map(square,my_nums))

[1, 4, 9, 25]

In [63]:
list(map(lambda x:x**2,my_nums))

[1, 4, 9, 25]

## Filter

In [56]:
def even(x):
    return x % 2 == 0

In [57]:
list(filter(even,my_nums))

[2]

In [59]:
list(filter(even,map(square,my_nums)))

[4]

In [64]:
list(filter(lambda x: x%2==0,my_nums))

[2]

# Errors & Exceptions

https://docs.python.org/3/library/exceptions.html

try , except , finally

finally is always executed

In [81]:
def add(n1,n2):
    try:
        print(n1+n2)
    except TypeError:
        print("type error!")
    except OSError:
        print("oserror error!")
    else:
        # executes when there is no error
        print("went good!")
    finally:
        print("finished finally!")

In [79]:
number1 = 10
number2 = 23
add(n1 = number1, n2 = number2)

33
went good!
finished finally!

In [80]:
number1 = 10
number2 = "234"
add(n1 = number1, n2 = number2)

type error!
finished finally!

# Unit Testing

## Pylint

In [82]:
# !pylint code.py

## unittest

In [89]:
# call this from command line

import unittest

def cap_text(string):
    return string.upper()

class TestCap(unittest.TestCase):
    
    def test_one_word(self):
        text="python"
        result = cap_text(text)
        self.assertEqual(result,'PYTHON')
        
    # other tests come here
    
if __name__ == "__main__":
    unittest.main()

# Decorators

adding new functionality to a function

In [100]:
def hello(name="jose"):
    print("hello jose")
    
# pass in function as an argument    
def other(some_def_func):
    print(some_def_func())
    
other(hello)

hello jose
None

In [101]:
def new_decorator(original_func):
    
    def wrap_func():
        
        print("some extra code before original func")
        original_func()
        print("some extra code after original func")
        
    return wrap_func

In [102]:
def func_needs_dec():
    print("to be decorated")

In [103]:
func_needs_dec()

to be decorated

In [105]:
new_func = new_decorator(func_needs_dec)
new_func()

some extra code before original func
to be decorated
some extra code after original func

In [106]:
@new_decorator
def func_needs_dec():
    print("to be decorated")

In [107]:
func_needs_dec()

some extra code before original func
to be decorated
some extra code after original func

In [109]:
# @new_decorator
def func_needs_dec():
    print("to be decorated")
    
func_needs_dec()

to be decorated

# Counter

In [126]:
from collections import Counter

In [127]:
l = [1,2,3,52,1,234,3,123,1,1]
Counter(l)

Counter({1: 4, 2: 1, 3: 2, 52: 1, 123: 1, 234: 1})

In [129]:
string = 'asdasdasfsdgsdfjsafkjasjkfsadnckasnfcjs'
Counter(string)

Counter({'a': 7,
         'c': 2,
         'd': 5,
         'f': 5,
         'g': 1,
         'j': 4,
         'k': 3,
         'n': 2,
         's': 10})

In [130]:
sentence = "asd jajak ajsha asd asd iuy iuy"
words = sentence.split()
Counter(words)

Counter({'ajsha': 1, 'asd': 3, 'iuy': 2, 'jajak': 1})

In [131]:
c = Counter(words)
c.most_common()

[('asd', 3), ('iuy', 2), ('jajak', 1), ('ajsha', 1)]

In [133]:
c.most_common(2)

[('asd', 3), ('iuy', 2)]

Total of all counts:

In [135]:
sum(c.values())

7

List of unique elements

In [136]:
list(c)

['asd', 'jajak', 'ajsha', 'iuy']

In [137]:
set(c)

{'ajsha', 'asd', 'iuy', 'jajak'}

In [138]:
dict(c)

{'ajsha': 1, 'asd': 3, 'iuy': 2, 'jajak': 1}

In [139]:
c.items()

dict_items([('asd', 3), ('jajak', 1), ('ajsha', 1), ('iuy', 2)])

In [140]:
list_of_pairs = c.items()
Counter(dict(list_of_pairs))

Counter({'ajsha': 1, 'asd': 3, 'iuy': 2, 'jajak': 1})

Least common words

In [142]:
n = 5
c.most_common()[:-n-1:-1]

[('ajsha', 1), ('jajak', 1), ('iuy', 2), ('asd', 3)]

Remove zero and negative counts:

In [144]:
c += Counter()
c

Counter({'ajsha': 1, 'asd': 3, 'iuy': 2, 'jajak': 1})

# defaultdict

In [145]:
from collections import defaultdict

In [146]:
d = {'k1':1}
d['k2']

KeyError: 'k2'

In [147]:
d = defaultdict(object)
d['one']

In [152]:
# setting a default value
d = defaultdict(lambda: 0)
d['one']

0

In [153]:
d['two'] = 2
d

defaultdict(<function __main__.<lambda>>, {'one': 0, 'two': 2})

# OrderedDict

after py3.7 all dictionaries are insertion-ordered. so no need to use this.

In [156]:
d = {}
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
d['f'] = 6

for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5
f 6

In [157]:
from collections import OrderedDict

In [158]:
d = OrderedDict()
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5
d['f'] = 6

for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5
f 6

# namedtuple

In [159]:
t = (1,2,3)
t[0]

1

In [160]:
from collections import namedtuple

In [164]:
Dog = namedtuple('Dog','age breed name dead')
sam = Dog(age=2,breed='lab',name='sammmy', dead = False)
sam

Dog(age=2, breed='lab', name='sammmy', dead=False)

In [165]:
sam.age

2

In [166]:
sam[1]

'lab'

# datetime

In [167]:
import datetime

In [170]:
t = datetime.time(4,25,1)
t

datetime.time(4, 25, 1)

In [171]:
print(t)

04:25:01

In [173]:
print(t.hour)
print(t.minute)
print(t.second)

4
25
1

In [175]:
print(datetime.time.min)
print(datetime.time.max)
print(datetime.time.resolution)

00:00:00
23:59:59.999999
0:00:00.000001

In [176]:
today = datetime.date.today()
today

datetime.date(2018, 12, 24)

In [178]:
print(today)
print(today.timetuple())
print(today.timetuple()[1])
print(today.month)

2018-12-24
time.struct_time(tm_year=2018, tm_mon=12, tm_mday=24, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=358, tm_isdst=-1)
12
12

In [180]:
today = today.replace(year=1990)
today

datetime.date(1990, 12, 24)

In [182]:
today - today.replace(year=2190)

datetime.timedelta(-73049)

# Debugger - pdb

In [183]:
import pdb

In [184]:
x = [1,3,4]
y = 2
z = 3

result = y + z
print(result)

result2 = y+x
print(result2)

5

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [185]:
x = [1,3,4]
y = 2
z = 3

result = y + z
print(result)

pdb.set_trace()

result2 = y+x
print(result2)

5
--Return--
> <ipython-input-185-9a0fe3dbac28>(8)<module>()->None
-> pdb.set_trace()
(Pdb) x
[1, 3, 4]
(Pdb) y
2
(Pdb) z
3
(Pdb) y+z
5
(Pdb) y**2
4
(Pdb) q

BdbQuit:

# timeit

In [187]:
import timeit

in .py files -> returns the total time

In [190]:
timeit.timeit('"-".join(str(n) for n in range(10))', number = 1000)

0.004589502001181245

In [191]:
timeit.timeit('"-".join([str(n) for n in range(10)])', number = 1000)

0.004171206848695874

In [193]:
timeit.timeit('"-".join(map(str,range(10)))', number = 1000)

0.003287050873041153

in jupyter notebook -> returns one loop time

it also adjusts the number of iterations based on one loop.

In [194]:
%timeit "-".join(str(n) for n in range(10))

3.53 µs ± 285 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# regular expressions

In [195]:
import re

## finding text within text

In [197]:
patterns = ["term1","term2"]
text = "asdakdkasdjask adjkashdkjasn a ddddterm1asda asdakskdad"

In [200]:
re.search('hello',text) #returns None

In [199]:
re.search('term1', text)

In [204]:
match = re.search('term1', text)
print(match.start())
print(match.end())
print(match.span())

35
40
(35, 40)

## split texts

In [205]:
split_term = "@"
emails = "asdasda@asdas.com"
re.split(split_term,emails)

['asdasda', 'asdas.com']

## return all matches

In [206]:
re.findall('here','here asdasdasdd herehasdsahs asdherehasda')

['here', 'here', 'here']

## repetition

In [ ]:
test_patterns = [
    'sd*', # s followed by zero or more d's
    'sd+', # s followed by one or more d's
    'sd?', # s folloed by zero or one d's
    'sd{3}', # s followed by 3 d's
    'sd{2,3}' # s followed by 2 or 3 d's
]

## character sets

In [ ]:
'[sd]' # either s or d
's[sd]+' # s followed by one or more s or d

## exclusion

In [ ]:
'[^!.? ]+' # retunr everything that doesnt have these ^!.? terms

## character ranges

In [207]:
'[a-z]+' # lower case letters
'[A-Z]+' # upper case letters
'[a-zA-z]+' # lower or uppercase letter
'[A-Z][a-z]+' # one upper case followed by one lower case letter

'[A-Z][a-z]+'

## escape codes

In [208]:
"""
\d digit
\D nondigit
\s whitespace
\S non whitespace
\w alphanumeric
\W non alphanumeric
"""

'\n\\d digit\n\\D nondigit\n\\s whitespace\n\\S non whitespace\n\\w alphanumeric\n\\W non alphanumeric\n'

In [ ]:
r'\d+' # sequence of digits
r'\D+' # sequence of nondigits
r'\s+' # sequence of whitespace
r'\S+' # sequence of non whitespace
r'\w+' # sequence of alphanumeric
r'\W+' # sequence of bnon alphanumeric